
<div style="display: flex; justify-content: center; align-items: center;">
    <div>
        <div class="mb-3">
            <img src="@Url.Content("~/Content/Images/luizalabs.png")" />
        </div>
        <h2>Employee Manager</h2>
    </div>
</div>
